<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome to Assignment 3</title>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css"
	th:href="@{/css/styles.css}">
</head>
<body>
	<div class="container">
		<h1>Assignment 4</h1>


		<section class="navbar">
			<a class="active" href="/" th:href="@{/}">Home</a> 
			<a href="/view" th:href="@{/view}">View </a> 
			<a href="/add" th:href="@{/add}">Insert New</a> 
			
		</section>
		
		
	</div>
</body>
</html>